
<div id="main">
    <div class="grid">
        <div class="container__admin row no-gutters">
            <nav class="nav">
                <div class="nav__explore">
                    <ul class="nav__explore-list">
                        <div class="nav__list-item">
                            <a href="/me/admin/data">
                                <i class="fa-solid fa-clipboard-list"></i>
                                <p>Sản phẩm</p>
                            </a>
                        </div>
                        <div class="nav__list-item">
                            <a href="/me/admin/create">
                                <i class="fa-regular fa-square-plus"></i>
                                <p>Thêm sản phẩm</p> 
                            </a>
                        </div>
                        <div class="nav__list-item">
                            <a href="/me/admin/stored">
                                <i class="fa-solid fa-box-open"></i>
                                <p>Kho hàng</p> 
                            </a>
                        </div>
                        <div class="nav__list-item">
                            <a href="/me/admin/shipping">
                                <i class="fa-solid fa-truck-fast"></i>
                                <p>Giao hàng</p> 
                            </a>
                        </div>
                        <div class="nav__list-item active">
                            <a href="/me/admin/bill">
                                <i class="fa-solid fa-scroll"></i>
                                <p>Hoá đơn</p> 
                            </a>
                        </div>
                        <div class="nav__list-item">
                            <a href="/me/admin/report">
                                <i class="fa-solid fa-file-pen"></i>
                                <p>Báo cáo</p> 
                            </a>
                        </div>
                        <div class="nav__list-item trash-item">
                            <a href="/me/admin/trash">
                                <i class="fa-solid fa-trash-can"></i>
                                Thùng Rác
                                {{#if deletedCount}}
                                <span class="translate-middle badge rounded-pill bg-danger">
                                    {{deletedCount}}
                                </span>
                                {{/if}}
                            </a>
                        </div>
                    </ul>
                </div>
            </nav>

            <div class="container__admin-content col">
                <div class="bar">
                    <div class="admin__media-form__logo">
                        <a href="/me" class="media-form__logo-link">
                            <img src="/img/logo__shop.png" alt="" class="media-form__logo-img">
                        </a>
                        <p>Hoá đơn</p>
                    </div>

                    <div class="search">
                        <input type="text" placeholder="Tìm kiếm">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </div>
                    
                    <li class="account">
                        <img src="/img/tak.jpg" alt="">
                        <div class="account__info">
                            <h4>Nam Hoang</h4>
                            <p>Admin</p>
                        </div>

                        <div class="account__options header_arrow-language">
                            <ul class="account__options-list">
                                <a href="/me/account/profile">
                                    <li>Tài khoản của tôi</li>
                                </a>
                                <a href="/">
                                    <li>Đăng xuất</li>
                                </a>
                            </ul>
                        </div>
                    </li>
                </div>

                <div class="container__admin-bill">

                    <table class="table">
                        <thead>
                            {{#if clients}}
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Mã hoá đơn</th>
                                <th scope="col">Thời gian</th>
                                <th scope="col">Thành tiền</th>
                                <th scope="col">Trạng thái thanh toán</th>
                                <th scope="col"></th>
                                <th class="option" scope="col">
                                    <button type="button" class="btn btn-outline-primary add-btn" data-bs-toggle="modal" data-bs-target="#staticCreate">
                                        <i class="fa-solid fa-circle-plus"></i> Thêm mới
                                    </button>
                                </th>
                                <th>
                                    <button type="button" class="btn filter-btn">
                                        <i class="fa-solid fa-filter"></i>
                                    </button>
                                </th>
                            </tr>
                            {{/if}}
                        </thead>
                        <tbody>
                            {{#each clients}}
                            <tr>
                                <th scope="row">{{sum @index 1}}</th>
                                <td>{{this.codeBill}}</td>
                                <td>
                                    <div class="time">
                                        <p>{{this.date}}</p>
                                        <p>{{this.time}}</p>
                                    </div>
                                </td>
                                <td>{{formatCurrency this.totalPrice}}₫</td>
                                <td>
                                    {{#if (eq this.paymentStatus "Đã thanh toán")}}
                                        <i class="fa-solid fa-wallet text-success"></i>
                                    {{else if (eq this.paymentStatus "Chưa thanh toán")}}
                                        <i class="fa-solid fa-clock text-warning"></i>
                                    {{/if}}
                                    {{this.paymentStatus}}
                                </td>
                                <td>
                                    <button type="button" class="btn btn-info update text-light open-detail-modal" 
                                            data-bs-toggle="modal" 
                                            data-bs-target="#detailBillModal"
                                            data-bs-id="{{this._id}}"
                                            data-bs-codeBill="{{this.codeBill}}"
                                            data-bs-name="{{this.name}}"
                                            data-bs-phone="{{this.phone}}"
                                            data-bs-location="{{this.location}}"
                                            data-bs-date="{{this.date}}"
                                            data-bs-totalPrice="{{formatCurrency this.totalPrice}}"
                                            data-bs-paymentStatus="{{this.paymentStatus}}"
                                            data-bs-shippingStatus="{{this.shippingStatus}}"
                                            data-bs-created="{{this.createdAt}}">
                                        Chi tiết
                                    </button>
                                </td>
                                <td class="option">
                                    <button type="button" class="btn btn-secondary update open-update-modal"
                                        data-bs-toggle="modal" 
                                        data-bs-target="#staticUpdate"
                                        data-bs-id="{{this._id}}"
                                        data-bs-code="{{this.code}}"
                                        data-bs-codeBill="{{this.codeBill}}"
                                        data-bs-name="{{this.name}}"
                                        data-bs-phone="{{this.phone}}"
                                        data-bs-location="{{this.location}}"
                                        data-bs-date="{{this.date}}"
                                        data-bs-time="{{this.time}}"
                                        data-bs-totalPrice="{{this.totalPrice}}"
                                        data-bs-paymentStatus="{{this.paymentStatus}}"
                                        data-bs-shippingStatus="{{this.shippingStatus}}">
                                        Cập nhật
                                    </button>
                                </td>
                                <td class="close">
                                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-id="{{this._id}}" data-bs-target="#deleteProductModal">
                                        <i class="fa-solid fa-xmark"></i>
                                    </button>
                                </td>
                            </tr>
                            {{else}}
                            <tr>
                                <td colspan="9" class="text-center page__empty">
                                    <img src="/img/icon/stored__empty.png" alt="">
                                    <div class="page__empty-info">
                                        <p>Chưa có hoá đơn nào!</p>
                                        <button type="button" class="btn add-btn" data-bs-toggle="modal" data-bs-target="#staticCreate">
                                            Thêm mới <i class="fa-solid fa-circle-plus"></i> 
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>

                {{#if clients}}
                <div class="item-center__quantity">
                    <div class="item-center__quantity-btn">
                        <button class="border">
                            <i class="fa-solid fa-angle-left"></i>
                        </button>

                        <input class="border" type="text" value="1" />

                        <button class="border">
                            <i class="fa-solid fa-angle-right"></i>
                        </button>
                    </div>
                </div>
                {{/if}}

                <!-- Modal Create-->
                <div class="modal fade" id="staticCreate" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticCreateLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg">
                        <form class="modal-content" method="POST" action="/me/admin/bill/createBill">
                            <div class="modal-header">
                                <h1 class="modal-title" id="staticCreateLabel">Thêm mới</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body modal__create">
                                <div class="create__product-item">
                                    <label for="code" class="form-label">Mã đơn</label>
                                    <input type="text" class="form-control" id="code" name="code">
                                </div>
                                <div class="create__product-item">
                                    <label for="codeBill" class="form-label">Mã hoá đơn</label>
                                    <input type="text" class="form-control" id="codeBill" name="codeBill">
                                </div>
                                <div class="create__product-item">
                                    <label for="name" class="form-label">Khách hàng</label>
                                    <input type="text" class="form-control" id="name" name="name">
                                </div>
                                <div class="create__product-item">
                                    <label for="phone" class="form-label">Số điện thoại</label>
                                    <input type="text" class="form-control" id="phone" name="phone">
                                </div>
                                <div class="create__product-item">
                                    <label for="location" class="form-label">Địa điểm</label>
                                    <input type="text" class="form-control" id="location" name="location">
                                </div>
                                <div class="create__product-item">
                                    <label for="date" class="form-label">Ngày</label>
                                    <input type="text" class="form-control" id="date" name="date">
                                </div>
                                <div class="create__product-item">
                                    <label for="time" class="form-label">Thời gian</label>
                                    <input type="text" class="form-control" id="time" name="time">
                                </div>
                                <div class="create__product-item">
                                    <label for="totalPrice" class="form-label">Thành tiền</label>
                                    <input type="text" class="form-control" id="totalPrice" name="totalPrice">
                                </div>
                                <div class="create__product-item">
                                    <label for="paymentStatus" class="form-label">Trạng thái thanh toán</label>
                                    <select class="form-control" name="paymentStatus" id="paymentStatus">
                                        <option value="Đã thanh toán">Đã thanh toán</option>
                                        <option value="Chưa thanh toán">Chưa thanh toán</option>
                                    </select>
                                </div>
                                <div class="create__product-item">
                                    <label for="shippingStatus" class="form-label">Trạng thái giao hàng</label>
                                    <select class="form-control" name="shippingStatus" id="shippingStatus">
                                        <option value="Giao hàng thành công">Giao hàng thành công</option>
                                        <option value="Đang giao hàng">Đang giao hàng</option>
                                        <option value="Chưa giao hàng">Chưa giao hàng</option>
                                    </select>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-success">Xác nhận</button>
                            </div>
                        </form>
                    </div>
                </div>

                {{!-- Modal Detail --}}
                <div class="modal fade" id="detailBillModal" tabindex="-1" aria-labelledby="detailBillModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title" id="detailBillModalLabel">Chi tiết sản phẩm</h1>
                            </div>
                            <div class="modal-body">
                                <p><strong>Mã hoá đơn:</strong> <span id="detailBillCodeBill"></span></p>
                                <p><strong>Khách hàng:</strong> <span id="detailBillName"></span></p>
                                <p><strong>Số điện thoại:</strong> <span id="detailBillPhone"></span></p>
                                <p><strong>Địa điểm:</strong> <span id="detailBillLocation"></span></p>
                                <p><strong>Ngày:</strong> <span id="detailBillDate"></span></p>
                                <p><strong>Thành tiền:</strong> <span id="detailBillTotalPrice"></span></p>
                                <p><strong>Trạng thái thanh toán:</strong> <span id="detailBillPaymentStatus"></span></p>
                                <p><strong>Trạng thái giao hàng:</strong> <span id="detailBillShippingStatus"></span></p>
                                <p><strong>Ngày tạo:</strong> <span id="detailBillCreated"></span></p>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Đóng</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal Update-->
                <div class="modal fade modalUpdate" id="staticUpdate" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticUpdateLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title" id="staticUpdateLabel">Cập nhật</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form id="updateForm" method="POST">
                                    <div class="create__product-item">
                                        <label for="code" class="form-label">Mã đơn</label>
                                        <input type="text" class="form-control" id="updateCode" name="code">
                                    </div>
                                    <div class="create__product-item">
                                        <label for="codeBill" class="form-label">Mã hoá đơn</label>
                                        <input type="text" class="form-control" id="updateCodeBill" name="codeBill">
                                    </div>
                                    <div class="create__product-item">
                                        <label for="name" class="form-label">Khách hàng</label>
                                        <input type="text" class="form-control" id="updateName" name="name">
                                    </div>
                                    <div class="create__product-item">
                                        <label for="phone" class="form-label">Số điện thoại</label>
                                        <input type="text" class="form-control" id="updatePhone" name="phone">
                                    </div>
                                    <div class="create__product-item">
                                        <label for="location" class="form-label">Địa điểm</label>
                                        <input type="text" class="form-control" id="updateLocation" name="location">
                                    </div>
                                    <div class="create__product-item">
                                        <label for="date" class="form-label">Ngày</label>
                                        <input type="text" class="form-control" id="updateDate" name="date">
                                    </div>
                                    <div class="create__product-item">
                                        <label for="time" class="form-label">Thời gian</label>
                                        <input type="text" class="form-control" id="updateTime" name="time">
                                    </div>
                                    <div class="create__product-item">
                                        <label for="totalPrice" class="form-label">Thành tiền</label>
                                        <input type="text" class="form-control" id="updateTotalPrice" name="totalPrice">
                                    </div>
                                    <div class="create__product-item">
                                        <label for="paymentStatus" class="form-label">Trạng thái thanh toán</label>
                                        <select class="form-control" id="updatePaymentStatus" name="paymentStatus">
                                            <option value="Đã thanh toán">Đã thanh toán</option>
                                            <option value="Chưa thanh toán">Chưa thanh toán</option>
                                        </select>
                                    </div>
                                    <div class="create__product-item">
                                        <label for="shippingStatus" class="form-label">Trạng thái giao hàng</label>
                                        <select class="form-control" id="updateShippingStatus" name="shippingStatus" >
                                            <option value="Giao hàng thành công">Giao hàng thành công</option>
                                            <option value="Đang giao hàng">Đang giao hàng</option>
                                            <option value="Chưa giao hàng">Chưa giao hàng</option>
                                        </select>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-success" form="updateForm">Lưu</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal Delete -->
                <div class="modal fade" id="deleteProductModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="deleteProductModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title" id="deleteProductModalLabel">Xóa sản phẩm</h1>
                            </div>
                            <div class="modal-body">
                                <p>Bạn chắc chắn muốn xóa sản phẩm này?</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                                <button type="button" class="btn btn-danger" id="confirmDelete">Xóa</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Hidden Form for Delete -->
                <form name="deleteForm" method="POST"></form>

                <script>
                    document.addEventListener('DOMContentLoaded', function () {
                        let productId;

                        {{!-- Update --}}
                        const staticUpdate = document.getElementById("staticUpdate");
                        const updateForm = document.getElementById("updateForm");
                        const updateCode = document.getElementById("updateCode");
                        const updateCodeBill = document.getElementById("updateCodeBill");
                        const updateName = document.getElementById("updateName");
                        const updatePhone = document.getElementById("updatePhone");
                        const updateLocation = document.getElementById("updateLocation");
                        const updateDate = document.getElementById("updateDate");
                        const updateTime = document.getElementById("updateTime");
                        const updateTotalPrice = document.getElementById("updateTotalPrice");
                        const updatePaymentStatus = document.getElementById("updatePaymentStatus");
                        const updateShippingStatus = document.getElementById("updateShippingStatus");

                        document.querySelectorAll(".open-update-modal").forEach((button) => {
                            button.addEventListener("click", function () {
                                // Gán dữ liệu vào modal
                                updateCode.value = this.getAttribute("data-bs-code");
                                updateCodeBill.value = this.getAttribute("data-bs-codeBill");
                                updateName.value = this.getAttribute("data-bs-name");
                                updatePhone.value = this.getAttribute("data-bs-phone");
                                updateLocation.value = this.getAttribute("data-bs-location");
                                updateDate.value = this.getAttribute("data-bs-date");
                                updateTime.value = this.getAttribute("data-bs-time");
                                updateTotalPrice.value = this.getAttribute("data-bs-totalPrice");
                                updatePaymentStatus.value = this.getAttribute("data-bs-paymentStatus");
                                updateShippingStatus.value = this.getAttribute("data-bs-shippingStatus");

                                // Cập nhật action của form với ID sản phẩm
                                let productId = this.getAttribute("data-bs-id");
                                updateForm.action = `/me/admin/bill/${productId}?_method=PUT`;
                            });
                        });

                        {{!-- Detail Bill --}}
                        const detailBillCodeBill = document.getElementById("detailBillCodeBill");
                        const detailBillName = document.getElementById("detailBillName");
                        const detailBillPhone = document.getElementById("detailBillPhone");
                        const detailBillLocation = document.getElementById("detailBillLocation");
                        const detailBillDate = document.getElementById("detailBillDate");
                        const detailBillTotalPrice = document.getElementById("detailBillTotalPrice");
                        const detailBillPaymentStatus = document.getElementById("detailBillPaymentStatus");
                        const detailBillShippingStatus = document.getElementById("detailBillShippingStatus");
                        const detailBillCreated = document.getElementById("detailBillCreated");

                            document.querySelectorAll(".open-detail-modal").forEach((button) => {
                                button.addEventListener("click", function () {
                                    // Gán dữ liệu vào modal
                                    detailBillCodeBill.textContent = this.getAttribute("data-bs-codeBill");
                                    detailBillName.textContent = this.getAttribute("data-bs-name");
                                    detailBillPhone.textContent = this.getAttribute("data-bs-phone");
                                    detailBillLocation.textContent = this.getAttribute("data-bs-location");
                                    detailBillDate.textContent = this.getAttribute("data-bs-date");
                                    detailBillTotalPrice.textContent = this.getAttribute("data-bs-totalPrice") + '₫';
                                    detailBillPaymentStatus.textContent = this.getAttribute("data-bs-paymentStatus");
                                    detailBillShippingStatus.textContent = this.getAttribute("data-bs-shippingStatus");
                                    detailBillCreated.textContent = this.getAttribute("data-bs-created");
                                });
                            });

                        {{!-- Delete --}}
                        const deleteModal = document.getElementById('deleteProductModal');
                        const confirmDeleteBtn = document.getElementById('confirmDelete');
                        const deleteForm = document.forms['deleteForm'];

                        if (deleteModal) {
                            // Khi modal hiển thị, lấy ID của khóa học từ button
                            deleteModal.addEventListener('show.bs.modal', function (event) {
                                const button = event.relatedTarget; // Button kích hoạt modal
                                productId = button.getAttribute('data-bs-id'); // Lấy ID từ data-bs-id
                            });

                            // Khi nhấn nút "Xóa" trong modal
                            confirmDeleteBtn.addEventListener('click', function () {
                                // Cập nhật action của form và gửi yêu cầu DELETE
                                deleteForm.action = `/me/admin/bill/${productId}?_method=DELETE`;
                                deleteForm.submit();
                            });
                        };
                    });
                </script>
            </div>
        </div>
    </div>
</div>

