
<div id="main">
    <div class="grid">
        <div class="container__admin row no-gutters">
            <nav class="nav">
                <div class="nav__explore">
                    <ul class="nav__explore-list">
                        <div class="nav__list-item">
                            <a href="/me/admin/data">
                                <i class="fa-solid fa-clipboard-list"></i>
                                <p>Sản phẩm</p>
                            </a>
                        </div>
                        <div class="nav__list-item">
                            <a href="/me/admin/create">
                                <i class="fa-regular fa-square-plus"></i>
                                <p>Thêm sản phẩm</p> 
                            </a>
                        </div>
                        <div class="nav__list-item active">
                            <a href="/me/admin/stored">
                                <i class="fa-solid fa-box-open"></i>
                                <p>Kho hàng</p> 
                            </a>
                        </div>
                        <div class="nav__list-item">
                            <a href="/me/admin/shipping">
                                <i class="fa-solid fa-truck-fast"></i>
                                <p>Giao hàng</p> 
                            </a>
                        </div>
                        <div class="nav__list-item">
                            <a href="#">
                                <i class="fa-solid fa-download"></i>
                                <p>______________</p> 
                            </a>
                        </div>
                        <div class="nav__list-item trash-item">
                            <a href="/me/admin/trash">
                                <i class="fa-solid fa-trash-can"></i>
                                Thùng Rác
                                {{#if deletedCount}}
                                <span class="translate-middle badge rounded-pill bg-danger">
                                    {{deletedCount}}
                                </span>
                                {{/if}}
                            </a>
                        </div>
                    </ul>
                </div>
            </nav>

            <div class="container__admin-content col">
                <div class="bar">
                    <div class="admin__media-form__logo">
                        <a href="/me" class="media-form__logo-link">
                            <img src="/img/logo__shop.png" alt="" class="media-form__logo-img">
                        </a>
                        <p>Kho hàng</p>
                    </div>

                    <div class="search">
                        <input type="text" placeholder="Tìm kiếm">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </div>
                    
                    <li class="account">
                        <img src="/img/tak.jpg" alt="">
                        <div class="account__info">
                            <h4>Nam Hoang</h4>
                            <p>Admin</p>
                        </div>

                        <div class="account__options header_arrow-language">
                            <ul class="account__options-list">
                                <a href="/me/account/profile">
                                    <li>Tài khoản của tôi</li>
                                </a>
                                <a href="/">
                                    <li>Đăng xuất</li>
                                </a>
                            </ul>
                        </div>
                    </li>
                </div>

                <div class="container__admin-stored">

                    <table class="table">
                        <thead> 
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Sản phẩm</th>
                                <th scope="col">Có thể bán</th>
                                <th scope="col">Tồn kho</th>
                                <th scope="col">Đơn giá</th>
                                <th class="option" scope="col">
                                    <button type="button" class="btn btn-outline-primary add-btn">
                                        <i class="fa-solid fa-circle-plus"></i> Thêm mới
                                    </button>
                                </th>
                                <th>
                                    <button type="button" class="btn filter-btn">
                                        <i class="fa-solid fa-filter"></i>
                                    </button>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each storeds}}
                            <tr>
                                <th scope="row">{{sum @index 1}}</th>
                                <td>
                                    <div class="stored__product">
                                        <img src="/{{this.image}}" alt="">
                                        <p>{{this.name}}</p>
                                    </div>
                                </td>
                                <td>{{this.stock}}</td>
                                <td>{{this.inventory}}</td>
                                <td>{{formatCurrency this.priceOrigin}}</td>
                                <td class="option">
                                    <button type="button" class="btn btn-secondary update">
                                        Cập nhật
                                    </button>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-id="{{this._id}}" data-bs-target="#deleteProductModal">
                                        <i class="fa-solid fa-xmark"></i>
                                    </button>
                                </td>
                            </tr>
                            {{else}}
                            <tr>
                                <td colspan="5" class="text-center">
                                    Chưa có sản phẩm nào trong kho.
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>

                <div class="item-center__quantity">
                    <div class="item-center__quantity-btn">
                        <button class="border">
                            <i class="fa-solid fa-angle-left"></i>
                        </button>

                        <input class="border" type="text" value="1" />

                        <button class="border">
                            <i class="fa-solid fa-angle-right"></i>
                        </button>
                    </div>
                </div>

                <!-- Modal Delete -->
                <div class="modal fade" id="deleteProductModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="deleteProductModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title" id="deleteProductModalLabel">Xóa sản phẩm</h1>
                            </div>
                            <div class="modal-body">
                                <p>Bạn chắc chắn muốn xóa sản phẩm này?</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                                <button type="button" class="btn btn-danger" id="confirmDelete">Xóa</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Hidden Form for Delete -->
                <form name="deleteForm" method="POST"></form>

                <script>

                    document.addEventListener('DOMContentLoaded', function () {
                        const deleteModal = document.getElementById('deleteProductModal');
                        const confirmDeleteBtn = document.getElementById('confirmDelete');
                        const deleteForm = document.forms['deleteForm'];
                        let productId;
                        
                        const detailProductName = document.getElementById("detailProductName");
                        const detailProductPrice = document.getElementById("detailProductPrice");
                        const detailProductPriceOrigin = document.getElementById("detailProductPriceOrigin");
                        const detailProductDiscount = document.getElementById("detailProductDiscount");
                        const detailProductSold = document.getElementById("detailProductSold");
                        const detailProductStar = document.getElementById("detailProductStar");
                        const detailProductReviews = document.getElementById("detailProductReviews");
                        const detailProductStock = document.getElementById("detailProductStock");
                        const detailProductCreated = document.getElementById("detailProductCreated");

                        {{!-- Deatail --}}
                        document.querySelectorAll(".open-detail-modal").forEach((button) => {
                            button.addEventListener("click", function () {
                                // Gán dữ liệu vào modal
                                detailProductName.textContent = this.getAttribute("data-bs-name");
                                detailProductPrice.textContent = this.getAttribute("data-bs-price") + '₫';
                                detailProductPriceOrigin.textContent = this.getAttribute("data-bs-price-origin")+ '₫';
                                detailProductDiscount.textContent = this.getAttribute("data-bs-discount");
                                detailProductSold.textContent = this.getAttribute("data-bs-sold");
                                detailProductStar.textContent = this.getAttribute("data-bs-star");
                                detailProductReviews.textContent = this.getAttribute("data-bs-reviews");
                                detailProductStock.textContent = this.getAttribute("data-bs-stock");
                                detailProductCreated.textContent = this.getAttribute("data-bs-created");
                            });
                        });

                        {{!-- Delete --}}
                        if (deleteModal) {
                            // Khi modal hiển thị, lấy ID của khóa học từ button
                            deleteModal.addEventListener('show.bs.modal', function (event) {
                                const button = event.relatedTarget; // Button kích hoạt modal
                                productId = button.getAttribute('data-bs-id'); // Lấy ID từ data-bs-id
                            });

                            // Khi nhấn nút "Xóa" trong modal
                            confirmDeleteBtn.addEventListener('click', function () {
                                // Cập nhật action của form và gửi yêu cầu DELETE
                                deleteForm.action = `/me/admin/${productId}?_method=DELETE`;
                                deleteForm.submit();
                            });
                        };
                    });
                </script>

            </div>
        </div>
    </div>
</div>

