<header class="header-me">
    <div class="grid wide">
        <nav class="header__nav">
            <ul class="header__nav-list">
                <li class="header__nav-item header__nav-item--separate-r"><a class="header__nav-link" href="/login">Kênh người bán</a></li>
                <li class="header__nav-item header__nav-item--separate-r"><a class="header__nav-link" href="/login">Trở thành người bán</a></li>
                <li class="header__nav-item header__nav-item--qr">
                    <a class="header__nav-link">
                        Tải ứng dụng
                    </a>
                    <!-- Header QR Code -->
                    <div class="header__qr">
                        <img src="/img/qr-code.png" alt="QR Code" class="header__qr-img">
                        <div class="header__qr-apps">
                            <img src="/img/app-store.png" alt="App Store" class="header__qr-apps-img">
                            <img src="/img/google-play.png" alt="Google Play" class="header__qr-apps-img">
                            <img src="/img/app-gallery.png" alt="App Gallery" class="header__qr-apps-img">
                        </div>
                    </div>
                    <!---->
                </li>
                <li class="header__nav-item header__nav-item--separate-l nowrap">
                    <span class="title-no-pointer">Kết nối</span>
                    <a class="haeder__nav-icon-link" href="javascript:void(0)"><i class="header__nav-icon fa-brands fa-facebook"></i></a> 
                    <a class="haeder__nav-icon-link" href="javascript:void(0)"><i class="header__nav-icon fa-brands fa-square-instagram"></i></a>
                </li>
            </ul>
            <ul class="header__nav-list">
                <li class="header__nav-item header__nav-item--notify">
                    <i class="header__nav-icon header__nav- fa-regular fa-bell"></i> Thông Báo
                    <!-- Notification -->
                    <div class="header__notify header_arrow">
                        <header class="header__notify_text">
                            <h3>Thông Báo Mới Nhận</h3>
                        </header>
                        <ul class="header__notify-list">
                            <li class="header__notify-item header__notify-list--seen">
                                <a href="javascript:void(0)" class="header__notify_link">
                                    <img src="/img/Notify_img/notify1.jpg" alt="" class="header__notify-img">
                                    <div class="header__notify-info">
                                        <header class="header__notify-name">NHANH SĂN DEAL SỐC FLASH SALE</header>
                                        <p class="header__notify-desc">
                                            <i class="fa-solid fa-wand-sparkles"></i> Giá rẻ nhất trong ngày Triệu deal hot đang chờ Mua ngay trước khi hết!
                                        </p>
                                    </div>
                                </a>
                            </li>
                            <li class="header__notify-item header__notify-list--seen">
                                <a href="javascript:void(0)" class="header__notify_link">
                                    <img src="/img/Notify_img/notify2.jpg" alt="" class="header__notify-img">
                                    <div class="header__notify-info">
                                        <header class="header__notify-name">ĐẠI TIỆC ĐỒNG GIÁ TỪ 9.000Đ</header>
                                        <p class="header__notify-desc">
                                            <i class="fa-solid fa-cart-shopping"></i> Nhanh tay mua ngay trước khi hết hàng!
                                        </p>
                                    </div>
                                </a>
                            </li>
                            <li class="header__notify-item header__notify-list--seen">
                                <a href="javascript:void(0)" class="header__notify_link">
                                    <img src="/img/Notify_img/notify3.jpg" alt="" class="header__notify-img">
                                    <div class="header__notify-info">
                                        <header class="header__notify-name">SỐC! 100 MÃ FREESHIP CHỈ 50.000Đ</header>
                                        <p class="header__notify-desc">
                                            <i class="fa-solid fa-gift"></i> Duy nhất hôm nay. Mở gói siêu Voucher cực hot. Số lượng có hạn - Vào ngay bạn ơi!
                                        </p>
                                    </div>
                                </a>
                            </li>
                            <li class="header__notify-item">
                                <a href="javascript:void(0)" class="header__notify_link">
                                    <img src="/img/Notify_img/notify4.jpg" alt="" class="header__notify-img">
                                    <div class="header__notify-info">
                                        <header class="header__notify-name">
                                            <i class="fa-solid fa-sack-dollar"></i> Bạn có thích được hoàn Xu?
                                        </header>
                                        <p class="header__notify-desc">
                                            Hãy chia sẻ suy nghĩ của bạn TẠI ĐÂY để giúp chúng tôi phụp vụ bạn tốt hơn nhé!
                                        </p>
                                    </div>
                                </a>
                            </li>
                            <li class="header__notify-item">
                                <a href="javascript:void(0)" class="header__notify_link">
                                    <img src="/img/Notify_img/notify5.jpg" alt="" class="header__notify-img">
                                    <div class="header__notify-info">
                                        <header class="header__notify-name">
                                            <i class="fa-solid fa-face-laugh-wink"></i> Bạn có thích xem Livestream
                                        </header>
                                        <p class="header__notify-desc">
                                            Hãy chia sẻ trải nghiệm của bạn TẠI ĐÂY để giúp chúng tôi hiểu bạn hơn nhé!
                                        </p>
                                    </div>
                                </a>
                            </li>
                        </ul>
                        <footer class="header__notify-more">
                            <a href="javascript:void(0)" class="header__notify-more-link">Xem tất cả</a>
                        </footer>
                    </div>
                    <!---->
                </li>
                <li class="header__nav-item">
                    <a class="header__nav-link" href="javascript:void(0)">
                        <i class="header__nav-icon header__nav- fa-regular fa-circle-question"></i> Hỗ Trợ
                    </a>
                </li>
                <li class="header__nav-item header__nav-item--language nowrap">
                    <i class="header__nav-icon header__nav- fa-solid fa-globe"></i> 
                    <p class="header__nav-item-text">Tiếng Việt</p>
                    <i class="header__nav-icon header__nav- fa-solid fa-chevron-down"></i>
                    <!-- Language -->
                    <div class="header__language header_arrow-language">
                        <ul class="header__language-list">
                            <li class="header__language-item active">Tiếng Việt</li>
                            <li class="header__language-item">English</li>
                        </ul>
                    </div>
                    <!---->
                </li>
                <li class="account">
                    <img src="/img/tak.jpg" alt="">
                    <div class="account__info">
                        <h4>Nam Hoang</h4>
                        <p>User</p>
                    </div>

                    <div class="account__options header_arrow-language">
                        <ul class="account__options-list">
                            <a href="/me/account/profile">
                                <li>Tài khoản của tôi</li>
                            </a>
                            <a href="/me/admin/data">
                                <li>Quản trị viên</li>
                            </a>
                            <a href="/">
                                <li>Đăng xuất</li>
                            </a>
                        </ul>
                    </div>
                </li>
            </ul>
        </nav>

        <div class="media-form">
            <div class="media-form__logo">
                <a href="/me" class="media-form__logo-link">
                    <img src="/img/logo__shop.png" alt="" class="media-form__logo-img">
                </a>
            </div>
            <div class="media-form__search">
                <div class="media-form__search-bar">
                    <div class="media-form__search-bar-form">
                        <input type="text" class="media-form__search-input" placeholder="Bạn muốn tìm gì?">
                        <button class="media-form__search-but">
                            <i class="search-but fa-solid fa-magnifying-glass"></i>
                        </button>
                        <div class="suggest-form">
                            <a href="/signup" class="suggest-form__link">
                                <p class="suggest-form__text">

                                </p>
                                <img src="/img/free-shipping.png" alt="" class="suggest-form__img">
                            </a>
                        </div>
                    </div>
                </div>
                <ul class="media-form__list">
                    <li class="media-form__item"><a href="javascript:void(0)" class="media-form__item-link">Đồ 1k</a></li>
                    <li class="media-form__item"><a href="javascript:void(0)" class="media-form__item-link">iPhone 14 Pro Max</a></li>
                    <li class="media-form__item"><a href="javascript:void(0)" class="media-form__item-link">Dép Nữ</a></li>
                    <li class="media-form__item"><a href="javascript:void(0)" class="media-form__item-link">Set Đồ Nữ</a></li>
                    <li class="media-form__item"><a href="javascript:void(0)" class="media-form__item-link">Áo 1k</a></li>
                    <li class="media-form__item"><a href="javascript:void(0)" class="media-form__item-link">Áo Kiểu Hàn Quốc</a></li>
                    <li class="media-form__item"><a href="javascript:void(0)" class="media-form__item-link">Đồ Dùng Học Tập</a></li>
                    <li class="media-form__item"><a href="javascript:void(0)" class="media-form__item-link">Đồ 1k Free Ship</a></li>
                    <li class="media-form__item"><a href="javascript:void(0)" class="media-form__item-link">Dây Sạc iPhone</a></li>
                    <li class="media-form__item"><a href="javascript:void(0)" class="media-form__item-link">Dây Sạc iPhone</a></li>
                    <li class="media-form__item"><a href="javascript:void(0)" class="media-form__item-link">Dây Sạc iPhone</a></li>
                </ul>
            </div>
            <!-- Shopping Cart -->
            <div class="media-form__shopping-cart">
               <a href="/me/cart" for="modal__log-checkbox"><i class="shopping-cart-but fa-solid fa-cart-shopping"></i></a>
               <div class="header__shopping-cart header_arrow-shopping-cart">
                  <div class="header__shopping-cart-content">
                        <h3>Sản phẩm trong giỏ hàng</h3>
                        <ul class="shopping-cart__content-items">
                           {{#each products}}
                           <li>
                              <a href="/products/{{this.slug}}">
                                    <div class="shopping-cart__content-item-info">
                                       <img src="/{{this.image}}" alt="">
                                       <p>{{this.name}}</p>
                                       {{!-- <span class="quantity">{{this.quantity}}</span> --}}
                                    </div>
                                    <span class="shopping-cart__content-item-price">{{formatCurrency this.price}}₫</span>
                              </a>
                              {{!-- <button class="remove-item" data-product-id="{{this.productId}}">Xóa</button> --}}
                           </li>
                           {{else}}
                              <div class="header__shopping-cart-content__empty">
                                    <img src="/img/no-cart.png" alt="" class="header__shopping-cart-img">
                                    <p class="header__shopping-cart-text">Chưa Có Sản Phẩm</p>
                              </div>
                           {{/each}}
                        </ul>
                        <div class="shopping-cart__content-btn">
                           <a href="/me/cart">Xem giỏ hàng</a>
                        </div>
                  </div>
               </div>
            </div>
            <!---->
        </div>
    </div>
</header>

<div class="container__product">
  <div class="grid wide">
      <div class="container-content">
         <ul class="mb-4 container-content__link">
            <a class="hover:underline" href="/">
               The Shop
            </a>
            {{!-- <i class="fa-solid fa-caret-right"></i>
            <a class="hover:underline" href="#">
               Điện Thoại &amp; Phụ Kiện
            </a>
            <i class="fa-solid fa-caret-right"></i>
            <a class="hover:underline" href="#">
               Điện thoại
            </a>
            <i class="fa-solid fa-caret-right"></i>
            <a class="hover:underline" href="#">
               Apple
            </a> --}}
            <i class="fa-solid fa-caret-right"></i>
            <a class="hover:underline" href="#">
               {{product.name}}
            </a>
         </ul>

         <div class="content row no-gutters p-4">
            <div class="items-center col l-5">
               <img
                  alt="Apple iPhone 16 Pro Max in various colors"
                  class="mb-4"
                  src="/{{product.image}}"
               />
               <div class="item-center__sub-img">
                  <img
                  class="active"
                  alt="Apple iPhone 16 Pro Max in gold"
                  src="https://storage.googleapis.com/a1aa/image/MVjpS2nrvVDnSQiJeyVyoY6zy93Tik4SCQNcDs_AEFY.jpg"
                  />
                  <img
                  alt="Apple iPhone 16 Pro Max in black"
                  src="https://storage.googleapis.com/a1aa/image/YKc54DFi6TujexIM5-uCwqJjP_71Ew279IItOo-8Y6g.jpg"
                  />
                  <img
                  alt="Apple iPhone 16 Pro Max in white"
                  src="https://storage.googleapis.com/a1aa/image/bTfYvJJQmlA3XKQ-Y4JXNUgXe2IuJFmzs88rTyux3rQ.jpg"
                  />
               </div>
            </div>

            <div class="item-content col l-7">
                  <h1>{{product.name}}</h1>

                  <div class="item-center mb-2">
                     <div class="item-rank">
                        <a href="#reviews">{{product.star}}</a>
                        <ul class="item-rank__star">
                           <i class="fa-solid fa-star"></i>
                           <i class="fa-solid fa-star"></i>
                           <i class="fa-solid fa-star"></i>
                           <i class="fa-solid fa-star"></i>
                           <i class="fa-solid fa-star"></i>
                        </ul>
                     </div>

                     <div class="item-rank">
                        <a href="#reviews">{{formatNumber product.reviews}}</a>
                        <p>Đánh Giá</p>
                     </div>

                     <div class="item-rank">
                        <a href="">{{formatNumber product.sold}}</a>
                        <p>Sold</p>
                     </div>
                  </div>

                  <div class="item-price">
                     <div class="price-offical">
                        ₫{{formatCurrency product.price}}
                     </div>

                     <div class="price-origin">
                        ₫{{formatCurrency product.priceOrigin}}
                     </div>

                     <div class="sale-percent">
                        -{{product.discount}}%
                     </div>
                  </div>

                  <div class="item-center__contain">
                     <h4 class="item-content__e-header">
                        Vận Chuyển
                     </h4>
                     <div class="shipping-description">
                        <p class="shipping-description__detail">
                           <i class="fa-solid fa-truck-fast"></i>
                           Nhận từ 14 Th02 - 15 Th02, phí giao ₫0
                        </p>
                        <p class="shipping-description__voucher">
                           Tặng Voucher ₫15.000 nếu đơn giao sau thời gian trên.
                        </p>
                     </div>
                  </div>

                  <div class="item-center__contain-center">
                     <h4 class="item-content__e-header">
                        Màu Sắc
                     </h4>
                     <div class="item-button">
                        <button class="active">
                           <img
                              src="https://storage.googleapis.com/a1aa/image/MVjpS2nrvVDnSQiJeyVyoY6zy93Tik4SCQNcDs_AEFY.jpg"
                              alt=""
                           />
                           Titan Đen
                           <i class="fa-solid fa-square-check"></i>
                        </button>
                        <button>
                           <img
                              src="https://storage.googleapis.com/a1aa/image/YKc54DFi6TujexIM5-uCwqJjP_71Ew279IItOo-8Y6g.jpg"
                              alt=""
                           />
                           Titan Trắng
                           <i class="fa-solid fa-square-check"></i>
                        </button>
                        <button>
                           <img
                              src="https://storage.googleapis.com/a1aa/image/bTfYvJJQmlA3XKQ-Y4JXNUgXe2IuJFmzs88rTyux3rQ.jpg"
                              alt=""
                           />
                           Titan Tự Nhiên
                           <i class="fa-solid fa-square-check"></i>
                        </button>
                     </div>
                  </div>

                  <div class="item-center__contain-center">
                     <h4 class="item-content__e-header">
                        Số Lượng
                     </h4>
                     <div class="item-center__quantity">
                        <div class="item-center__quantity-btn">
                           <button class="border">
                              <i class="fa-solid fa-minus"></i>
                           </button>

                           <input class="border" type="text" value="1" />

                           <button class="border">
                              <i class="fa-solid fa-plus"></i>
                           </button>
                        </div>
                        <p>{{product.stock}} sản phẩm có sẵn</p>
                     </div>
               </div>

               <div class="high-end-btn">
                  <button type="button" class="high-end-btn__add" 
                     data-bs-toggle="modal" 
                     data-bs-id="{{product._id}}" 
                     data-bs-target="#addToListModal"
                     data-name="{{product.name}}"
                     data-price="{{product.price}}"
                     data-image="/{{product.image}}"
                     data-slug="{{product.slug}}">
                     <i class="fa-solid fa-cart-plus"></i>
                     Thêm Vào Giỏ Hàng
                  </button>
                  <button class="high-end-btn__buy">
                     Mua Với Voucher ₫{{formatCurrency product.price}}
                  </button>
               </div>
            </div>
         </div>

         {{!-- Modal Confirm --}}
         <div class="modal fade" id="addToListModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="addToListModalLabel" aria-hidden="true">
            <div class="modal-dialog">
               <div class="modal-content">
                     <div class="modal-header">
                        <h1 class="modal-title" id="addToListModalLabel">Thêm vào danh sách</h1>
                     </div>
                     <div class="modal-body">
                        <p>Bạn có chắc chắn muốn thêm sản phẩm này vào danh sách không?</p>
                     </div>
                     <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                        <button type="button" class="btn btn-warning" id="confirmAddToList">Thêm</button>
                     </div>
               </div>
            </div>
         </div>
         <!-- Hidden Form for Adding -->
         <form name="addToListForm" method="POST"></form>

      </div>

      <div class="container-details">
         <div class="detail p-4">
            <h2>Chi tiết sản phẩm</h2>
            <div class="detail-content">
               <ul class="container-details__header">
                  <h4>Danh Mục</h4>
                  <h4>Thương hiệu</h4>
                  <h4>Số sản phẩm còn lại</h4>
                  <h4>Bảo hành</h4>
                  <h4>Gửi từ</h4>
               </ul>

               <ul class="container-details__content">
                  <li>
                     <a class="hover:underline" href="/">
                        The Shop
                     </a>
                     {{!-- <i class="fa-solid fa-caret-right"></i>
                     <a class="hover:underline" href="#">
                        Điện Thoại &amp; Phụ Kiện
                     </a>
                     <i class="fa-solid fa-caret-right"></i>
                     <a class="hover:underline" href="#">
                        Điện thoại
                     </a>
                     <i class="fa-solid fa-caret-right"></i>
                     <a class="hover:underline" href="#">
                        Apple
                     </a> --}}
                  </li>
                  <li>
                     <a href="">Apple</a>
                  </li>
                  <li>{{product.stock}}</li>
                  <li>12 tháng</li>
                  <li>Hà Nội</li>
               </ul>
            </div>
         </div>
         <div class="description p-4 mt-4">
            <h2>Mô tả sản phẩm</h2>
            <ul>
               <p>
                  {{product.name}}. Sở hữu thiết kế titan tuyệt đẹp. Điều Khiển Camera. 4K Dolby Vision tốc độ 120 fps. Và chip A18 Pro.
               </p>

               <p>   </p>

               <p>
                  Tính năng nổi bật: 
               </p>
               <p>
                  - THIẾT KẾ TITAN TUYỆT ĐẸP – {{product.name}} có thiết kế titan nhẹ và cứng cáp với màn hình Super Retina XDR 6,9 inch lớn hơn. Thiết bị bền bỉ tuyệt vời với chất liệu Ceramic Shield thế hệ mới nhất, bền chắc gấp 2 lần mặt kính các điện thoại thông minh khác.
               </p>
               <p>
                  - NẮM TOÀN QUYỀN ĐIỀU KHIỂN CAMERA – Điều Khiển Camera giúp bạn truy cập nhanh các công cụ camera dễ dàng hơn, như thu phóng hoặc độ sâu trường ảnh, nhờ vậy bạn có thể chụp ảnh hoàn hảo siêu nhanh.
               </p>
               <p>
                  - QUAY CHỤP ẤN TƯỢNG – Với camera Ultra Wide 48MP tiên tiến hơn, bạn có thể ghi lại những chi tiết đầy mê hoặc trong những tấm ảnh chụp cận cảnh và ảnh chụp góc rộng bao quát. Bạn muốn ảnh chụp sắc nét hơn từ khoảng cách xa hơn? Camera Telephoto 5x giúp bạn dễ dàng làm điều đó.        
               </p>
               <p>
                  - QUAY VIDEO ĐẲNG CẤP PRO – Nâng tầm video bạn quay lên đẳng cấp hoàn toàn mới với 4K Dolby Vision tốc độ 120 fps, nhờ sự hỗ trợ của camera Fusion 48MP, và các micrô chất lượng chuẩn studio để thu âm chất lượng cao hơn. Một studio Pro ngay trong túi bạn.
               </p>
               <p>
                  - SỨC MẠNH CỦA A18 PRO – Chip A18 Pro hỗ trợ các tính năng chụp ảnh và quay video tiên tiến như Điều Khiển Camera, đồng thời mang đến hiệu năng đồ họa vượt trội để chơi game AAA.
               </p>
               <p>
                  - BƯỚC NHẢY VỌT VỀ THỜI LƯỢNG PIN – {{product.name}} mang lại hiệu năng tiết kiệm điện đáng kinh ngạc với thời gian xem video lên đến 33 giờ. Sạc qua USB-C hoặc gắn vào bộ sạc MagSafe để sạc không dây nhanh hơn.
               </p>
               <p>
                  - CÁC TÍNH NĂNG AN TOÀN QUAN TRỌNG – Với tính năng Phát Hiện Va Chạm, iPhone có thể phát hiện va chạm ô tô nghiêm trọng và gọi trợ giúp khi cần kíp.
               </p>
            </ul>
         </div>
         <div class="reviews p-4 mt-4" id="reviews">
            <h2>Phản hồi</h2>
            <div class="rank">
               <div class="rank__star">
                  <div class="rank__star-value">
                     <p class="main_star">4.5</p>
                     <p>trên 5</p>
                  </div>
                  <div class="star">
                     <i class="fa-solid fa-star"></i>
                     <i class="fa-solid fa-star"></i>
                     <i class="fa-solid fa-star"></i>
                     <i class="fa-solid fa-star"></i>
                     <i class="fa-solid fa-star-half-stroke"></i>
                  </div>
               </div>
               <div class="filter__star">
                  <button type="button" class="btn active">Tất Cả</button>
                  <button type="button" class="btn">5 Sao</button>
                  <button type="button" class="btn">4 Sao</button>
                  <button type="button" class="btn">3 Sao</button>
                  <button type="button" class="btn">2 Sao</button>
                  <button type="button" class="btn">1 Sao</button>
               </div>
            </div>
            <div class="comments__container mt-4">
               <div class="comment">
                  <div class="comment__detail">
                     <a href="">
                        <img src="http://localhost:3000/img/tak.jpg" alt="">
                     </a>
                     <div class="comment__detail-content">
                        <p>Nam Hoang</p>
                        <div class="star">
                           <i class="fa-solid fa-star"></i>
                           <i class="fa-solid fa-star"></i>
                           <i class="fa-solid fa-star"></i>
                           <i class="fa-solid fa-star"></i>
                           <i class="fa-solid fa-star-half-stroke"></i>
                        </div>
                        <ul>
                           <li class="separation--line">28/12/2024</li>
                           <li class="separation--line">8:32</li>
                           <li>Phân loại hàng: Titan Tự Nhiên</li>
                        </ul>
                        <p>Đúng với mô tả: Đúng</p>
                        <p>Chất lượng sản phẩm: Oke</p>
                        <p>Sản phẩm tốt</p>
                     </div>
                  </div>
                  <div class="comment__feedback">
                     <div class="comment__feedback-img">
                        <img src="http://localhost:3000/img/Products/iphone-16-pro-titan-tu-nhien.png" alt="">
                        <img src="http://localhost:3000/img/Products/iphone-16-pro-titan-tu-nhien.png" alt="">
                     </div>
                     <button>
                        <i class="fa-regular fa-thumbs-up"></i>
                     </button>
                  </div>
                  <div class="detail__option">
                     <button class="btn-list" data-bs-toggle="dropdown" aria-expanded="false">
                           <i class="fa-solid fa-ellipsis"></i>
                     </button>
                     <ul class="dropdown-menu">
                        <li>
                           <button type="button" class="btn btn-warning">
                              Sửa
                           </button>
                        </li>
                        <li><hr class="dropdown-divider"></li>
                        <li>
                           <button type="button" class="btn btn-danger">
                              Xóa
                           </button>
                        </li>
                        <li><hr class="dropdown-divider"></li>
                        <li>
                           <button type="button" class="btn open-detail-modal">
                              <i class="fa-regular fa-flag"></i> Báo cáo
                           </button>
                        </li>
                        <li><hr class="dropdown-divider"></li>
                        <li>
                           <button type="button" class="btn open-detail-modal">
                              <i class="fa-solid fa-reply"></i> Phản hồi
                           </button>
                        </li>
                     </ul>
                  </div>
               </div>
               <div class="comment">
                  <div class="comment__detail">
                     <a href="">
                        <img src="http://localhost:3000/img/tak.jpg" alt="">
                     </a>
                     <div class="comment__detail-content">
                        <p>Nam Hoang</p>
                        <div class="star">
                           <i class="fa-solid fa-star"></i>
                           <i class="fa-solid fa-star"></i>
                           <i class="fa-solid fa-star"></i>
                           <i class="fa-solid fa-star"></i>
                           <i class="fa-solid fa-star-half-stroke"></i>
                        </div>
                        <ul>
                           <li class="separation--line">28/12/2024</li>
                           <li class="separation--line">8:32</li>
                           <li>Phân loại hàng: Titan Tự Nhiên</li>
                        </ul>
                        <p>Đúng với mô tả: Đúng</p>
                        <p>Chất lượng sản phẩm: Oke</p>
                        <p>Sản phẩm tốt</p>
                     </div>
                  </div>
                  <div class="comment__feedback">
                     <div class="comment__feedback-img">
                        <img src="http://localhost:3000/img/Products/iphone-16-pro-titan-tu-nhien.png" alt="">
                        <img src="http://localhost:3000/img/Products/iphone-16-pro-titan-tu-nhien.png" alt="">
                     </div>
                     <button>
                        <i class="fa-regular fa-thumbs-up"></i>
                     </button>
                  </div>
                  <div class="detail__option">
                     <button class="btn-list" data-bs-toggle="dropdown" aria-expanded="false">
                           <i class="fa-solid fa-ellipsis"></i>
                     </button>
                     <ul class="dropdown-menu">
                        <li>
                           <button type="button" class="btn btn-warning">
                              Sửa
                           </button>
                        </li>
                        <li><hr class="dropdown-divider"></li>
                        <li>
                           <button type="button" class="btn btn-danger">
                              Xóa
                           </button>
                        </li>
                        <li><hr class="dropdown-divider"></li>
                        <li>
                           <button type="button" class="btn open-detail-modal">
                              <i class="fa-regular fa-flag"></i> Báo cáo
                           </button>
                        </li>
                        <li><hr class="dropdown-divider"></li>
                        <li>
                           <button type="button" class="btn open-detail-modal">
                              <i class="fa-solid fa-reply"></i> Phản hồi
                           </button>
                        </li>
                     </ul>
                  </div>
               </div>
               <div class="comment">
                  <div class="comment__detail">
                     <a href="">
                        <img src="http://localhost:3000/img/tak.jpg" alt="">
                     </a>
                     <div class="comment__detail-content">
                        <p>Nam Hoang</p>
                        <div class="star">
                           <i class="fa-solid fa-star"></i>
                           <i class="fa-solid fa-star"></i>
                           <i class="fa-solid fa-star"></i>
                           <i class="fa-solid fa-star"></i>
                           <i class="fa-solid fa-star-half-stroke"></i>
                        </div>
                        <ul>
                           <li class="separation--line">28/12/2024</li>
                           <li class="separation--line">8:32</li>
                           <li>Phân loại hàng: Titan Tự Nhiên</li>
                        </ul>
                        <p>Đúng với mô tả: Đúng</p>
                        <p>Chất lượng sản phẩm: Oke</p>
                        <p>Sản phẩm tốt</p>
                     </div>
                  </div>
                  <div class="comment__feedback">
                     <div class="comment__feedback-img">
                        <img src="http://localhost:3000/img/Products/iphone-16-pro-titan-tu-nhien.png" alt="">
                        <img src="http://localhost:3000/img/Products/iphone-16-pro-titan-tu-nhien.png" alt="">
                     </div>
                     <button>
                        <i class="fa-regular fa-thumbs-up"></i>
                     </button>
                  </div>
                  <div class="detail__option">
                     <button class="btn-list" data-bs-toggle="dropdown" aria-expanded="false">
                           <i class="fa-solid fa-ellipsis"></i>
                     </button>
                     <ul class="dropdown-menu">
                        <li>
                           <button type="button" class="btn btn-warning">
                              Sửa
                           </button>
                        </li>
                        <li><hr class="dropdown-divider"></li>
                        <li>
                           <button type="button" class="btn btn-danger">
                              Xóa
                           </button>
                        </li>
                        <li><hr class="dropdown-divider"></li>
                        <li>
                           <button type="button" class="btn open-detail-modal">
                              <i class="fa-regular fa-flag"></i> Báo cáo
                           </button>
                        </li>
                        <li><hr class="dropdown-divider"></li>
                        <li>
                           <button type="button" class="btn open-detail-modal">
                              <i class="fa-solid fa-reply"></i> Phản hồi
                           </button>
                        </li>
                     </ul>
                  </div>
               </div>
               <div class="comment">
                  <div class="comment__detail">
                     <a href="">
                        <img src="http://localhost:3000/img/tak.jpg" alt="">
                     </a>
                     <div class="comment__detail-content">
                        <p>Nam Hoang</p>
                        <div class="star">
                           <i class="fa-solid fa-star"></i>
                           <i class="fa-solid fa-star"></i>
                           <i class="fa-solid fa-star"></i>
                           <i class="fa-solid fa-star"></i>
                           <i class="fa-solid fa-star-half-stroke"></i>
                        </div>
                        <ul>
                           <li class="separation--line">28/12/2024</li>
                           <li class="separation--line">8:32</li>
                           <li>Phân loại hàng: Titan Tự Nhiên</li>
                        </ul>
                        <p>Đúng với mô tả: Đúng</p>
                        <p>Chất lượng sản phẩm: Oke</p>
                        <p>Sản phẩm tốt</p>
                     </div>
                  </div>
                  <div class="comment__feedback">
                     <div class="comment__feedback-img">
                        <img src="http://localhost:3000/img/Products/iphone-16-pro-titan-tu-nhien.png" alt="">
                        <img src="http://localhost:3000/img/Products/iphone-16-pro-titan-tu-nhien.png" alt="">
                     </div>
                     <button>
                        <i class="fa-regular fa-thumbs-up"></i>
                     </button>
                  </div>
                  <div class="detail__option">
                     <button class="btn-list" data-bs-toggle="dropdown" aria-expanded="false">
                           <i class="fa-solid fa-ellipsis"></i>
                     </button>
                     <ul class="dropdown-menu">
                        <li>
                           <button type="button" class="btn btn-warning">
                              Sửa
                           </button>
                        </li>
                        <li><hr class="dropdown-divider"></li>
                        <li>
                           <button type="button" class="btn btn-danger">
                              Xóa
                           </button>
                        </li>
                        <li><hr class="dropdown-divider"></li>
                        <li>
                           <button type="button" class="btn open-detail-modal">
                              <i class="fa-regular fa-flag"></i> Báo cáo
                           </button>
                        </li>
                        <li><hr class="dropdown-divider"></li>
                        <li>
                           <button type="button" class="btn open-detail-modal">
                              <i class="fa-solid fa-reply"></i> Phản hồi
                           </button>
                        </li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
         <div class="page__change grid wide">
            <div class="item-center__quantity">
               <div class="item-center__quantity-btn">
                  <button class="border">
                        <i class="fa-solid fa-angle-left"></i>
                  </button>

                  <input class="border" type="text" value="1" />

                  <button class="border">
                        <i class="fa-solid fa-angle-right"></i>
                  </button>
               </div>
            </div>
         </div>
      </div>
  </div>
</div>

<script>
   document.addEventListener('DOMContentLoaded', function () {
      const addToListModal = document.getElementById('addToListModal');
      const confirmAddToListBtn = document.getElementById('confirmAddToList');

      // Logic thêm sản phẩm
      if (addToListModal && confirmAddToListBtn) {
         addToListModal.addEventListener('show.bs.modal', function (event) {
               const button = event.relatedTarget;
               const productId = button.getAttribute('data-bs-id');
               const slug = button.getAttribute('data-slug') || document.querySelector('h1').textContent.toLowerCase().replace(/\s+/g, '-');
               addToListModal.dataset.productId = productId;
               addToListModal.dataset.slug = slug;
         });

         confirmAddToListBtn.addEventListener('click', function () {
               const productId = addToListModal.dataset.productId;
               const slug = addToListModal.dataset.slug;

               if (!productId || !slug) {
                  console.error('Missing productId or slug');
                  return;
               }

               fetch(`/products/${slug}/${productId}`, {
                  method: 'POST',
                  headers: { 'Content-Type': 'application/json' },
               })
               .then(response => {
                  if (response.redirected) {
                     window.location.href = response.url;
                  }
               })
               .catch(error => console.error('Error:', error));
         });
      }

      // Logic xóa sản phẩm
      document.querySelectorAll('.remove-item').forEach(button => {
         button.addEventListener('click', function () {
            const productId = this.getAttribute('data-product-id');
            fetch(`/products/remove/${productId}`, {
                  method: 'DELETE',
                  headers: { 'Content-Type': 'application/json' },
            })
            .then(response => {
                  if (response.redirected) {
                     window.location.href = response.url; // Reload trang sau khi xóa
                  }
            })
            .catch(error => console.error('Error:', error));
         });
      });
   });
</script>